.catalog {
  padding-top: 150px;
  p {
    margin: 0;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    width: 325px;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 12px 10px;
    strong {
      color: #258c93;
    }
  }
  h4 {
    margin: 0;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #258c93;
    margin-bottom: 10px;
  }
  .catalog__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sort-popup {
    cursor: pointer;
  }
}
