.catalog {
  padding-top: 150px;
  p {
    margin: 0;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }
  h4 {
    margin: 0;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #258c93;
    margin-bottom: 10px;
  }
  .catalog__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
