.catalog__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0 80px;
  gap: 20px;
  position: relative;
  z-index: 3;
  .pagination {
    gap: 10px;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: #258c93;

        color: #fff !important;
      }
    }
  }
  .selected {
    a {
      background-color: #258c93;
      color: #fff !important;
    }
  }
}
