.catalog__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0 80px;
  gap: 20px;
  position: relative;
  z-index: 3;
  a {
    width: 40px;
    height: 40px;
  }
}
