.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 15vh;
  color: #3c4151;
  background-color: #ffffffbd;
  @media screen and (max-width: 576px) {
    height: 9vh;

   }  
  div {
    height: inherit;
    .toggle__menu {
      display: none;
      @media screen and (max-width: 1200px) {
        display: block;
      }
    }
    nav:nth-child(2) {
      width: 60%;
      @media screen and (max-width: 1200px) {
        display: none !important;
      }
      a {
        color: #3c4151 !important;
        &:hover {
          color: #258c93 !important;
          border-bottom: 3px solid #258c93;
          padding-bottom: 4px;
        }
      }
      
    }
    ul {
      list-style-type: none;
    }
    .header__brand__logo,
    .header__cart {
      cursor: pointer;
      display: flex;
      >img{
        width: 43px;
        margin-right: 20px;
        @media screen and (max-width: 576px) {
          width: 25px;
          padding-top: 5px;}
      }
      a{
        >img{
          @media screen and (max-width: 576px) {
            width: 25px;
           }  
        }
      }
    }
  }
}
