.important-to-us-bg {
  background-color: #fff !important;
  .important-to-us-cards {
    div {
      width: 370px;
      p{
        text-align: center;
      }
      .important-to-us-text{
        color:  #164727;
      }
    }
  }
}
