.about-block-bg{
  height: 700px;
  background-image: url('./assets/images/homePageImg/pexels-max-rahubovskiy-7031842.jpg');
  // background-color: #258c93
  ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px ;
}