@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@import './components/common/header/Header.scss';
@import './components/homePage/aboutBlock/About.scss';
@import './components/homePage/constructorBlock/Constructor.scss';
@import './components/homePage/ImportantToUs/ImportantToUs.scss';
@import './components/homePage/departmentsCards/DepartmentCards.scss';
@import './components/homePage/newCollection/NewCollection.scss';
@import './components/common/button/Button.scss';
@import './components/common/footer/Footer.scss';
@import './components/homePage/reviews/Reviews.scss';
@import './components/common/callUs/ContuctUs.scss';
@import './components/constructor/Constructor.scss';
@import './components/catalog/Catalog.scss';
@import './components/catalog/catalogFilter/CatalogFilter.scss';
@import './components/catalog/catalogCards/CatalogCards.scss';
@import './components/catalog/catalogPagination/CatalogPagination.scss';
@import './components/aboutUsPage/AboutUsPage.scss';
@import './components/aboutUsPage/aboutSection/AboutSection.scss';
@import './components/aboutUsPage/comandSection/ComandSection.scss';

a {
  font-weight: 500;
  color: #3c4151 !important;
  text-decoration: none !important;
}
h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
}
h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
