.footer {
  padding: 100px 0;
  background-color: #fff;
  > div {
    nav:nth-child(2) {
      @media screen and (max-width: 576px) {
        // text-align: center;

        justify-content: center;
      }
      ul {
        @media screen and (max-width: 576px) {
          // text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .footer__logo {
    a {
      margin-bottom: 20px;
    }
    p {
      font-size: 1rem;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 30px;

    li {
      margin-bottom: 10px;
    }
  }
  .active {
    color: #258c93 !important;
  }
  a:hover {
    color: #258c93 !important;
  }
}
